
html {
  background-color: #f3f1f1;
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  margin-top: 2%;
  margin-bottom: 2%;
}

h1 {}

h2 {}

h3 {}




p {

  font-size: 15px;

}

.forkme-button {
  position: absolute;
  right: 5%;
  top: 2%;
}

