html {
  background-color: #f3f1f1;
}

@font-face {
	font-family: "Adega Serif";
	src: url('../font/ADega_Serif_Regular.otff');
}

@font-face {
	font-family: "Adega Serif";
	font-style: italic;
	src: url('../font/ADega_Serif_italic.otf');
}

@font-face {
	font-family: "Adega Serif";
	font-weight: bold;
	src: url('../font/ADega_Serif_Bold.otf');
}

body {
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  margin-top: 2%;
  margin-bottom: 2%;
  font-family: 'Adega Serif', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {}

h2 {}

h3 {}

p {
  font-size: 2em;
}

.forkme-button {
  position: absolute;
  right: 5%;
  top: 2%;
}

