<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
<nav class="site-nav">{% include navigation.html %}</nav>
   {% include header.html %}
    <h1>{{ page.title }}</h1>
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
<footer class="site-footer">
    {% include footer.html %}
</footer>
  </body>

</html>
